<p class='instructions'>
  To get started, open the directory <code>src/pages</code> in your project. <br
  />
  <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above .
</p>

<style>
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(128, 0, 128, 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;

    & code {
      font-size: 0.875em;
      font-weight: bold;
      background-color: rgba(128, 0, 128, 12%);
      color: purple;
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }

    & strong {
      color: purple;
    }
  }
</style>
